:root {
    --color-theme-dark: #181818;
    --color-theme-dark-faded: #4a4a4a;
    --color-theme-accent: #00ab37;
    --color-theme-light: #ffffff;
    --color-theme-light-faded: #f3f3f3;
    --color-theme-mid: #828282;
}

p, h1, h2, h3, h4, h5, h6, em, li, div, span, strong {
    color: var(--color-theme-dark);
    /* border: 2px dashed red; */
    line-height: 1.3;
}

a {
    color: var(--color-theme-accent);
}

ul {
    padding-left: 0px;
    list-style-position: inside;
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

body {
    background-color: var(--color-theme-light);
    font-family: 'Tahoma', sans-serif;
    padding: 0;
    margin: 0;
}

.title-block
{
    padding: 0;
    margin: 0;
    min-height: 300px;
    height: 100vh;
    background-color: var(--color-theme-dark);
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid var(--color-theme-accent);

    ul {
        position: fixed;
        width: 100%;
        height: 0;
        padding: 0;
        margin: 0;
    }

    h1 {
        margin-top: 30vh;
        padding-block: 18px 15px;
        /* background-color: var(--color-theme-dark); */
        font-family: 'Arvo', serif;
        font-size: clamp(20px, 6vw, 60px);
        color: var(--color-theme-light);
    }
    h2 {
        margin-top: 30px;
        width: 100%;
        font-weight: 300;
        line-height: 1.5;
        font-size: clamp(15px, 2vw, 20px);
        color: var(--color-theme-light);
    }
    h3 {
        margin-top: 100px;
        width: 100%;
        font-weight: 300;
        font-size: clamp(15px, 2vw, 20px);
        color: var(--color-theme-mid);
    }
    img {
        filter: brightness(51%);
    }
}

.scroll-text-bg {
    pointer-events: none;
    user-select: none;
    position: fixed;
    line-height: 1.5;
    height: 100vh;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    opacity: .2;
    .line {
        padding: 5px;
        margin-left: -200px;
    }
    .line > * {
        padding-inline: 12px 12px;
        margin: 0;
    }
}

.content-wrapper {
    margin: auto;
    padding-block: 15px 60px;
    padding-inline: min(7.5vw, 45px);
    background-color: var(--color-theme-light-faded);
    width: clamp(450px, 70vw, 800px);
    max-width: 85vw;
    display: block;
    justify-content: center;
    align-items: center;
}

.inline-images {
    margin: 0;
    padding: 0px;
    width: 100%;
    background-color: var(--color-navbar-bg);
    display: flex;
    padding-block: 15px;
    img {
        margin-right: 2%;
        width: 48%;
        border: 2px solid var(--color-theme-dark);
    }
}